*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:'IBM Plex Sans Arabic',sans-serif;

    background:linear-gradient(180deg,#071A33,#0B2948);

    color:#fff;

}

.confirm-page{

    width:100%;

    max-width:100%;

    padding:26px 20px 30px;

}

h2{

    text-align:center;

    font-size:28px;

    font-weight:700;
    margin:30px 30px 12px;
}

.desc{

    text-align:center;

    color:#B9C4D1;

    line-height:1.8;

    font-size:15px;

    margin-bottom:24px;

}

/* البنوك */

.selected-banks{

    background:#103150;

    border-radius:20px;

    padding:18px;

    margin-bottom:18px;

}

.selected-banks h3{

    font-size:17px;

    margin-bottom:14px;

}

.selected-banks ul{

    list-style:none;

}

.selected-banks li{

    display:flex;

    align-items:center;

    gap:10px;

    padding:8px 0;

    color:#fff;

}

.selected-banks .material-icons-outlined{

    color:#D8AE55;

}

/* الصلاحيات */

.permissions{

    background:#103150;

    border-radius:20px;

    padding:18px;

}

.item{

    display:flex;

    align-items:center;

    gap:12px;

    padding:9px 0;

    color:#fff;

}

.item span{

    color:#D8AE55;

}

/* مدة الربط */

.duration{

    display:flex;

    align-items:center;

    gap:10px;

    margin:18px 0;

    color:#B9C4D1;

    font-size:14px;

}

.duration span{

    color:#D8AE55;

}

/* الموافقة */

.agree{

    display:flex;

    align-items:center;

    gap:10px;

    margin-bottom:22px;

    font-size:15px;

    cursor:pointer;

    color:#fff;

}

.agree input{

    width:20px;

    height:20px;

    accent-color:#D8AE55;

}

/* الزر */

#confirmBtn{

    display:block;

    width:92%;

    margin:0 auto;

    height:56px;

    border:none;

    border-radius:18px;

    background:#5E6873;

    color:#fff;

    font-size:18px;

    font-weight:700;

    transition:.3s;

}

#confirmBtn.enabled{

    background:#D8AE55;

    color:#071A33;

    cursor:pointer;

}