.desktop-bg{

width:100vw;
height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
radial-gradient(circle at top,#1d3557,#08141f);

}


/* إطار الآيفون */

.iphone{

width:390px;
height:844px;

background:#000;

border-radius:55px;

padding:12px;

position:relative;

box-shadow:
0 40px 90px rgba(0,0,0,.55),
inset 0 0 0 2px #333;

}


/* الشاشة */

.screen{

width:100%;
height:100%;

border-radius:45px;

overflow:hidden;

background:white;

position:relative;

}


/* الجزيرة */

.dynamic-island{

position:absolute;

top:16px;

left:50%;

transform:translateX(-50%);

width:125px;

height:34px;

background:#000;

border-radius:40px;

z-index:1000;

}


/* الصفحة */

.screen iframe{

width:100%;
height:100%;

border:none;

}


/* للجوال الحقيقي */

@media(max-width:500px){

.desktop-bg{

background:#fff;

}

.iphone{

width:100%;

height:100vh;

border-radius:0;

padding:0;

box-shadow:none;

}

.dynamic-island{

display:none;

}

.screen{

border-radius:0;

}

}