body{

margin:0;

font-family:'IBM Plex Sans Arabic',sans-serif;

background:linear-gradient(180deg,#081A2E,#10263D);

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

text-align:center;

}

.loading-page{

width:90%;

}

.logo{

width:90px;

margin-bottom:30px;

animation:float 2s infinite;

}

h2{

font-size:28px;

margin-bottom:15px;

}

p{

color:#AAB8C7;

line-height:1.8;

}

.progress{

margin-top:40px;

height:10px;

background:#1A3552;

border-radius:20px;

overflow:hidden;

}

.bar{

height:100%;

width:0;

background:#C9A15A;

animation:loading 2.3s linear forwards;

}

.secure{

margin-top:35px;

display:flex;

justify-content:center;

align-items:center;

gap:8px;

color:#C9A15A;

}

@keyframes loading{

to{

width:100%;

}

}

@keyframes float{

50%{

transform:translateY(-8px);

}

}