*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'IBM Plex Sans Arabic',sans-serif;

background: linear-gradient(180deg,#0F2438 0%,#153551 100%);

color:#fff;

}

.nafath-page{

width:100%;
height:100vh;

display:flex;
flex-direction:column;

justify-content:space-between;

padding:45px 28px;

animation:fade .6s ease;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.top-space{

height:20px;

}

.logo-area{

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

    text-align:center;

    margin-top:60px;

}

.logo{

    display:block;

    width:90px;

    height:90px;

    margin:0 auto 25px auto;

}

.logo-area h1{

font-size:34px;

font-weight:700;

margin-bottom:15px;

}

.logo-area p{

color:#AAB8C7;

line-height:30px;

font-size:16px;

}

.nafath-logo{

display:flex;

justify-content:center;

margin:20px 0;

}

.nafath-logo img{

width:180px;

}

#loginBtn{

height:58px;

border:none;

border-radius:18px;

background:#C9A15A;

color:#08131F;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

#loginBtn:hover{

transform:translateY(-2px);

box-shadow:0 10px 25px rgba(201,161,90,.35);

}

.security{

display:flex;

justify-content:center;

align-items:center;

gap:10px;

margin-top:25px;

color:#8FA0B4;

font-size:14px;

}

.security svg{

color:#C9A15A;

}